<main>
    {{#each this}}
        <div class="note">
            <div class="faelligkeit">{{faelligkeit}}</div>
            <div class="erledigt">{{erledigt}}</div>
            <div class="titel">{{titel}}</div>
            <div class="beschreibung">{{beschreibung}}</div>
            <div class="wichtigkeit">{{wichtigkeit}}</div>
            <div class="bearbeiten"><button>Bearbeiten</button></div>
        </div>
    {{/each}}
</main>