<input type="hidden" id="id" value="{{_id}}"/>
<div><label for="title">Titel</label></div>
<div><input id="title" type="text" value="{{titel}}"/></div>
<div><label for="description">Beschreibung</label></div>
<div><textarea id="description">{{beschreibung}}</textarea></div>
<div><label for="importance">Wichtigkeit</label></div>
<div><input id="importance" type="number" min="1" max="5" value="{{wichtigkeit}}"/></div>
<div><label for="duedate">Erledigt bis</label></div>
<div><input id="duedate" type="date" value="{{faelligkeit}}"/></div>