<header>
    <div>
        <button data-sort="erledigt">Nach Erledigungs-Datum</button>
        <button data-sort="erstellt">Nach Erstellungs-Datum</button>
        <button data-sort="faelligkeit">Nach Fälligkeits-Datum</button>
        <button data-sort="wichtigkeit">Nach Wichtigkeit</button>
    </div>
    <div>
        <button data-exclude="erledigt">Erledigte ausblenden</button>
    </div>
</header>
{{#each this}}
    <div class="note">
        <div class="faelligkeit">{{faelligkeitFormatiert}}</div>
        <div class="erledigt">{{erledigtFormatiert}}</div>
        <div class="titel">{{titel}}</div>
        <div class="beschreibung">{{beschreibung}}</div>
        <div class="wichtigkeit">{{wichtigkeit}}</div>
        <div class="bearbeiten">
            <button data-id="{{_id}}">Bearbeiten</button>
        </div>
    </div>
{{/each}}